<div class="page-header">
	<div class="jumbotron">
        <h1>Welcome {{ main.username || "user" }}</h1>
        <p>
        	<br>This application was build using MEAN Stack Application with the help of the series tutorial on <a href="https://www.youtube.com/channel/UCKrHQelsiwrVUZ7v9nLCwgA">Youtube</a>. 
    		<br>Created in compliance with our subject in masteral degree under Dr. Rolyn C. Daguil @ Caraga State University.
    		<br>
    		<br>This application caters CRUD functionalities of a user and activation of account. It is hosted on <a href="https://www.heroku.com/" target="_blank">heroku</a> for its frontend and <a href="https://mlab.com/" target="_blank">mLab</a> for its backend!
    		<br>
    		<br>Credits to <a href="https://www.youtube.com/channel/UCKrHQelsiwrVUZ7v9nLCwgA" target="_blank">David Acosta</a> by Bobby Corpuz. :)
    	</p>
      </div>
</div>